* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 2vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

table {
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #392129;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

h1 {
  font-size: 4rem;
  color: #392129;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
}

td {
  height: 7vh;
  min-width: 7vh;
}

button {
  width: 4rem;
  height: 2.3rem;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 3px 4px -2px #500606a8;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

button:hover {
  opacity: 0.8;
  left: -1px;
  bottom: -1px;
}

button:active {
  border: 1rem solid #500606a8;
  left: +1px;
  bottom: +1px;
}

#clear {
  width: 18rem;
  height: 6rem;
  font-size: 1.5rem;
}

.wrap {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -15px 0 20px -23px rgba(0, 0, 0, 0.8), 15px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.count {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid rgb(155, 155, 155);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.count__title {
  font-size: 2.5rem;
  padding: 2rem;
  flex: 0 1 auto;
  color: #86534e;
}

.count__result {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.count__result-text {
  display: flex;
  font-size: 2rem;
  min-height: 5vh;
  color: #86534e;
}

.count__result-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  height: 8rem;
  width: 8rem;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 0.3rem;
}

.count__result-number span {
  font-size: 5rem;
  color: #af323b;
  -webkit-animation: text 2s 1;
  animation: text 0.5s;
}

@-webkit-keyframes text {
  0% {
    font-size: 0.5rem;
  }

  100% {
    font-size: 5rem;
  }
}

@keyframes text {
  0% {
    font-size: 0.5rem;
  }

  100% {
    font-size: 20rem;
    color: #86534e;
    opacity: 0.7;
  }
}

.game__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.buttons__field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.hide {
  display: none;
}
